*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

article.film {
  overflow: hidden;
  width: 76%;
  margin: 40px auto;
  position: relative;
  border: 2px solid black;
}

.film-poster {
  display: inline-block;
  float: left;
  width: 30%;
  margin: 20px;
  position: relative;
}

.film-details {
  display: inline-block;
  width: 60%;
  float: left;
}

.fa-clock-o {
  position: absolute;
  right: 8px;
  top: 8px;
}

i {
  color: red;
}

.action-like {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  right: 0px;
}
